@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    min-height:100%; 
    min-width:100%;
    position:relative; 
    font-family: 'Manjari', sans-serif; 
}

html {
    height: 100%;
    }

html, body  {
    width: 100%;
    overflow-x: hidden;
      
    }  

/* CSS Variables */

:root {
    --light-color: #f3f3f3;
    --dark-color: #333;
    --primary-color:#00b33c;
    --secondary-color: #0066ff;
}


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   

}

/* Navbar */

.navbar {
    opacity: 0.9; 
    height:auto;
    width:auto;
    background: var(--secondary-color);
}

.title {
    letter-spacing: 1px;
}

.navbar-toggler {
    background-color: var(--dark-color);
    opacity: 0.8;
   
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.icon-bar {
    color:#fff;
}

.nav-link a {
    color:#fff;
}

/* Showcase */

#showcase {
    position:relative;
    background:url("../img/showcase.jpg") no-repeat center center/cover ;
    min-height:600px; 
}



/* Social Media Icons */
.fab {
    margin-right:0.5em; 
    color: var(--dark-color);
 }
 
  .social a :hover {
     color: var(--secondary-color);
 }

 /* Rule */

 .rule {
     background-color:#fff;
 }

 /* Media Queries */

 @media(max-width:500px) {
     .main-title {
       font-size: 70px;
     }

 }