{% extends 'base.html'%}

{% block content %}

<!-- About Page  -->

<div class="container">
    <div class="row">
        <div class="col- col-sm-12">
            <h1 class="text-center mt-5">About Me</h1>
        </div>
    </div>
</div>

<div class="container about-cont">
    <div class="row">
        <div class="col- col-md-6">
            <p class="mt-3 about mt-5 ">Hello Users and Welcome to Gujarati FODMAP CookBook. My name is Pranita Gandhi
                and I am the creator of Gujarati FODMAP CookBook.
                Due to suffering from Crohn's disease and IBS overlap I follow a LOW-FODMAP diet. The LOW-FODMAP diet
                ensures my IBS symptoms are kept at minimal level.
                Being a Gujarati and Gujarati food lover I struggled to find FODMAP friendly recipes. Gujarati food is
                very rich in pulses, lentils and wheat. Hence adapting to a LOW-FODMAP diet is difficult. Hence I
                created Gujarati FODMAP Cookbook to bring together my favourite Gujarati dishes which are FODMAP
                friendly. As the site grows many more dishes will be added
                from the growing user network.
            </p>
            <p class="about"> I hope you find making and eating the dishes enjoyable. We would love to hear from you.
                Feel free to please drop us an email at: pranitacoder12@gmail.com</p>
        </div>
        <div class="col- col-md-6">
            <img class="img-pranita mt-5" src="{{ url_for('static', filename='img/pranita.jpg')}}" alt="">
            <div class="container">
                <img class="img-intestine my-3" src="{{ url_for('static', filename='img/intestine.png')}}" alt="">
            </div>
        </div>

    </div>
</div>

<!--  End of About Page -->
{% endblock %}