{% extends 'base.html' %}
{% block content %}


<section class="container  add-cont">
    <div class="row">
        <div class="col-sm-12 col-xs-12 mx-auto">
            <div class="card">
                <div class="card-heading bg-primary text-white">
                    <h2 class="text-center p-3">Add Recipe</h2>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('create_task')}}" method="POST" class="add-recipe">
                        {{ form.csrf_token }}
                        <!-- Add Recipe Name -->
                        <label for="recipe_name">Recipe Name: </label>
                        <input type="text" class="form-control" name="recipe_name" id="recipe_name"
                            placeholder="Recipe Name" minlength=5 required><br>

                        <!--Add Recipe Image  -->
                        <label for="recipe_image">Recipe Image: </label>
                        <input type="text" class="form-control" name="recipe_image" id="recipe_image"
                            placeholder="https://www.recipeimage.com" minlength=5 required><br>

                        <!-- Add Ingredients -->
                        <label for="serving_size">Ingredients: </label>
                        <textarea class="form-control" name="ingredients" id="ingredients" rows="2"
                            placeholder="Ingredients" minlength=5 required></textarea><br>
                        <!-- Add Description -->
                        <label for="serving_size">Description: </label>
                        <textarea class="form-control" name="description" id="description" placeholder="Description"
                            minlength=5 rows="3" required></textarea><br>

                        <!-- Add Course -->
                        <label for="recipe_course">Course: </label>
                        <input type="text" class="form-control" name="recipe_course" id="recipe_course"
                            placeholder="Enter Main, Starter or Desert" minlength=3 required><br>

                        <!-- Add Allergen -->
                        <label for="allergen">Allergen: </label>
                        <input type="text" class="form-control" name="allergen" id="allergen"
                            placeholder="Enter None, Eggs or Nuts" minlength=3 required><br>

                        <!-- Add Serving Size -->
                        <label for="serving_size">Serving Size: </label>
                        <input type="number" class="form-control" name="serving_size" id="serving_size"
                            placeholder="Serving Size in numbers" minlength=5 required><br>

                        <!--Add Calories  -->
                        <label for="calories">Calories: </label>
                        <input type="number" class="form-control" name="calories" id="calories"
                            placeholder="Calories in numbers" minlength=1 required><br>

                        <!--Add Cooking Time  -->
                        <label for="cooking_time">Cooking Time: </label>
                        <input type="number" class="form-control" name="cooking_time" id="cooking_time"
                            placeholder="Cooking Time in minutes" minlength=5 required><br>

                        <h3 class="my-5">Please note a maximum of 7 instruction steps can be inserted for your recipe
                            </h2><br>

                            <!--Add Instruction Step -->
                            <label for="instruction">Instructions Step: 1 </label>
                            <textarea class="form-control" name="instruction" id="instruction"
                                placeholder="Instruction One" rows="3" minlength=8></textarea><br>

                            <!--Add Instruction Step -->
                            <label for="instruction1">Instructions Step 2: </label>
                            <textarea class="form-control" name="instruction1" id="instruction1"
                                placeholder="Instruction Two" rows="3" minlength=8></textarea><br>

                            <!--Add Instruction Step -->
                            <label for="instruction2">Instructions Step 3: </label>
                            <textarea class="form-control" name="instruction2" id="instruction2"
                                placeholder="Instruction Three" rows="3" minlength=8></textarea><br>

                            <!--Add Instruction Step -->
                            <label for="instruction3">Instructions Step 4: </label>
                            <textarea class="form-control" name="instruction3" id="instruction3"
                                placeholder="Instruction Four" rows="3" minlength=8></textarea><br>

                            <!--Add Instruction Step -->
                            <label for="instruction4">Instructions Step 5: </label>
                            <textarea class="form-control" name="instruction4" id="instruction4"
                                placeholder="Instruction Five" rows="3" minlength=8></textarea><br>

                            <!--Add Instruction Step -->
                            <label for="instruction5">Instructions Step 6: </label>
                            <textarea class="form-control" name="instruction5" id="instruction5"
                                placeholder="Instruction Six" rows="3" minlength=8></textarea><br>

                            <!--Add Instruction Step -->
                            <label for="instruction6">Instructions Step 7: </label>
                            <textarea class="form-control" name="instruction6" id="instruction6"
                                placeholder="Instruction Seven" rows="3" minlength=8></textarea><br>

                            <div class="recaptcha my-3">{{ form.recaptcha }} </div>
                            <input type="submit" class="btn btn-success mb-5" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}