{% extends 'base.html' %}
{% block content %}


<section class="container my-4">
    <div class="row">
        <div class="col-sm-6 col-xs-12 mx-auto">
            <div class="card">
                <div class="card-heading bg-warning text-dark">
                    <h2 class="text-center p-3">Edit Recipe</h2>
                </div>
                <div class="card-body">
                    
                    <form action="{{ url_for('update_task', task_id=task._id)}}" method="POST" class="edit-recipe">
                       
                        {{ form.csrf_token }}
                        <!-- Edit Recipe Name -->
                        <label for="recipe_name">Recipe Name: </label>
                        <input type="text" class="form-control" name="recipe_name" id="recipe_name" value={{task.recipe_name}}
                            placeholder="Recipe Name"  required><br>

                        <!--Edit  Recipe Image  -->
                        <label for="recipe_image">Recipe Image: </label>
                        <input type="text" class="form-control" name="recipe_image" id="recipe_image" value={{task.recipe_image}}
                            placeholder="https://www.recipeimage.com"  required><br>

                        <!-- Edit Ingredients -->
                        <label for="serving_size">Ingredients: </label>
                            <input type="text" class="form-control" name="ingredients" id="ingredients" value={{task.ingredients}}
                                    placeholder="Ingredients"  required><br>    
                        <!-- Edit Description -->
                        <label for="serving_size">Description: </label>
                        <input type="text" class="form-control" name="description" id="description" value={{task.description}} placeholder="Description"
                       required><br>
                                
                        <!-- Edit Course -->
                        <label for="recipe_course">Course: </label>
                             <input type="text" class="form-control" name="recipe_course" id="recipe_course" value={{task.recipe_course}} 
                                 placeholder="Enter Main, Starter or Desert"  required><br>    
                                 
                        <!-- Edit Allergen -->
                         <label for="allergen">Allergen: </label>
                         <input type="text" class="form-control" name="allergen" id="allergen" value={{task.allergen}} 
                             placeholder="Enter None, Eggs or Nuts" required><br>              

                        <!-- Add Serving Size -->
                        <label for="serving_size">Serving Size: </label>
                        <input type="number" class="form-control" name="serving_size" id="serving_size" value={{task.serving_size}} 
                            placeholder="Serving Size"  required><br>
                                
                        <!--Edit Calories  -->
                        <label for="calories">Calories: </label>
                        <input type="number" class="form-control" name="calories" id="calories" placeholder="Calories" value={{task.calories}} 
                             required><br>
                        
                        <!--Edit Cooking Time  -->
                        <label for="cooking_time">Cooking Time: </label>
                        <input type="number" class="form-control" name="cooking_time" id="cooking_time" value={{task.cooking_time}} 
                            placeholder="Cooking Time" required><br>

                        <small>Please note a maximum of 7 instruction steps can be inserted for your recipe</small><br>
                        
                         <!--Edit Instruction Step -->
                        <label for="instruction">Instructions Step: 1 </label>
                        <input type="text" class="form-control" name="instruction" id="instruction" value={{task.instruction}} 
                            placeholder="Instruction One"><br>
                        
                        <!--Edit Instruction Step -->    
                        <label for="instruction1">Instructions Step 2: </label>
                        <input type="text" class="form-control" name="instruction1" id="instruction1" value={{task.instruction1}} 
                            placeholder="Instruction Two" ><br>

                        <!--Edit Instruction Step -->    
                        <label for="instruction2">Instructions Step 3: </label>
                        <input type="text" class="form-control" name="instruction2" id="instruction2" value={{task.instruction2}} 
                            placeholder="Instruction Three" ><br>

                        <!--Edit Instruction Step -->  
                        <label for="instruction3">Instructions Step 4: </label>
                        <input type="text" class="form-control" name="instruction3" id="instruction3" value={{task.instruction3}} 
                            placeholder="Instruction Four" ><br>
                        
                        <!--Edit Instruction Step -->    
                        <label for="instruction4">Instructions Step 5: </label>
                        <input type="text" class="form-control" name="instruction4" id="instruction4" value={{task.instruction4}} 
                            placeholder="Instruction Five"><br>

                        <!--Edit Instruction Step -->    
                        <label for="instruction5">Instructions Step 6: </label>
                        <input type="text" class="form-control" name="instruction5" id="instruction5" value={{task.instruction5}} 
                            placeholder="Instruction Six" ><br>

                         <!--Edit Instruction Step -->
                        <label for="instruction6">Instructions Step 7: </label>
                        <input type="text" class="form-control" name="instruction6" id="instruction6" value={{task.instruction6}} 
                            placeholder="Instruction Seven">
                        <input type="submit" class="btn btn-success" value="Submit">
                        
                    </form>
                 
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}