{% extends 'base.html' %}
{% block content %}

<!-- Edit Recipe Form -->

<section class="container add-cont">
    <div class="row">
        <div class="col-sm-12 col-xs-12 mx-auto">
            <div class="card">
                <div class="card-heading bg-warning text-dark">
                    <h2 class="text-center p-3">Edit Recipe</h2>
                </div>
                <div class="card-body">

                    <form action="{{ url_for('update_task', task_id=task._id)}}" method="POST" class="edit-recipe">

                        {{ form.csrf_token }}
                        <!-- Edit Recipe Name -->
                        <label for="recipe_name">Recipe Name: </label>
                        <input type="text" class="form-control" name="recipe_name" id="recipe_name"
                            value="{{task.recipe_name}}" placeholder="Recipe Name" minlength=5 required><br>

                        <!--Edit  Recipe Image  -->
                        <label for="recipe_image">Recipe Image: </label>
                        <input type="text" class="form-control" name="recipe_image" id="recipe_image"
                            value="{{task.recipe_image}}" placeholder="https://www.recipeimage.com" minlength=5
                            required><br>

                        <!-- Edit Ingredients -->
                        <label for="serving_size">Ingredients: </label>
                        <textarea class="form-control" name="ingredients" id="ingredients" placeholder="Ingredients"
                            rows="3" minlength=5 required>{{task.ingredients}}</textarea>
                        <br>

                        <!-- Edit Description -->
                        <label for="serving_size">Description: </label>
                        <textarea class="form-control" name="description" id="description" placeholder="Description"
                            rows="5" minlength=5 required>{{task.description}}</textarea>
                        <br>

                        <!-- Edit Course -->
                        <label for="recipe_course">Course: </label>
                        <input type="text" class="form-control" name="recipe_course" id="recipe_course"
                            value={{task.recipe_course}} minlength=1 placeholder="Enter Main, Starter or Desert"
                            required><br>

                        <!-- Edit Allergen -->
                        <label for="allergen">Allergen: </label>
                        <input type="text" class="form-control" name="allergen" id="allergen" value="{{task.allergen}}"
                            minlength=1 placeholder="Enter None, Eggs or Nuts" required><br>

                        <!-- Add Serving Size -->
                        <label for="serving_size">Serving Size: </label>
                        <input type="number" class="form-control" name="serving_size" id="serving_size"
                            value="{{task.serving_size}}" minlength=1 placeholder="Serving Size in numbers"
                            required><br>

                        <!--Edit Calories  -->
                        <label for="calories">Calories: </label>
                        <input type="number" class="form-control" name="calories" id="calories"
                            placeholder="Calories in numbers" value="{{task.calories}}" minlength=1 required><br>

                        <!--Edit Cooking Time  -->
                        <label for="cooking_time">Cooking Time: </label>
                        <input type="number" class="form-control" name="cooking_time" id="cooking_time"
                            value="{{task.cooking_time}}" placeholder="Cooking Time in minutes" minlength=1
                            required><br>

                        <h3 class="my-5">Please note a maximum of 7 instruction steps can be inserted for your recipe
                        </h3><br>

                        <!--Edit Instruction Step -->
                        <label for="instruction">Instructions Step: 1 </label>
                        <textarea class="form-control" name="instruction" id="instruction" rows="5"
                            placeholder="Instruction 1" minlength=5 required>{{task.instruction}}</textarea>
                        <br>

                        <!--Edit Instruction Step -->
                        <label for="instruction1">Instructions Step 2: </label>
                        <textarea class="form-control" name="instruction1" id="instruction1" rows="5"
                            placeholder="Instruction 2" minlength=5 required>{{task.instruction1}}</textarea>
                        <br>

                        <!--Edit Instruction Step -->
                        <label for="instruction2">Instructions Step 3: </label>
                        <textarea class="form-control" name="instruction2" id="instruction2" rows="5"
                            placeholder="Instruction 3" minlength=5 required>{{task.instruction2}}</textarea>
                        <br>


                        <!-- Back to The Top Button -->

                        <button id="topBtn"><i class="fas fa-arrow-up"></i></button>

                        <!--Edit Instruction Step -->
                        <label for="instruction3">Instructions Step 4: </label>
                        <textarea class="form-control" name="instruction3" id="instruction3" rows="5"
                            placeholder="Instruction 4" minlength=5 required>{{task.instruction3}}</textarea>
                        <br>

                        <!--Edit Instruction Step -->
                        <label for="instruction4">Instructions Step 5: </label>
                        <textarea class="form-control" name="instruction4" id="instruction4" rows="5"
                            placeholder="Instruction 5" minlength=5 required>{{task.instruction4}}</textarea>
                        <br>

                        <!--Edit Instruction Step -->
                        <label for="instruction5">Instructions Step 6: </label>
                        <textarea class="form-control" name="instruction5" id="instruction5" rows="5"
                            placeholder="Instruction 6" minlength=5 required>{{task.instruction5}}</textarea>
                        <br>

                        <!--Edit Instruction Step -->
                        <label for="instruction6">Instructions Step 7: </label>
                        <textarea class="form-control" name="instruction6" id="instruction6" rows="5"
                            placeholder="Instruction 7" minlength=5 required>{{task.instruction6}}</textarea>
                        <br>


                        <div class="recaptcha mt-3">{{ form.recaptcha }} </div>

                        <input type="submit" class="btn btn-success mb-3" value="Submit">

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End of Edit Recipe Form -->

{% endblock %}