{% extends 'base.html' %}

{% block content %}

<!-- Showcase -->
<section id="showcase" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xs-12 text-center main">
        <h4 class="display-2  mt-5 pt-5 pr-3 text-center text-white main-title">Your favourite Gujarati dishes The
          FODMAP Way!</h4>
        <hr class="rule"><br>
        <p class="lead text-white"> Created January 2020</p>
      </div>
    </div>
  </div>
</section>

<!-- Search -->


<div class="container text-center">
  <h2 class="text-center my-3">SEARCH</h2>
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <form action="{{ url_for('findtask') }}" class="search-form">
        <div class="input-field col-sm-12 col-xs-12 d-flex">
          <input name="query" type="text" class="text-center" placeholder="Search Recipe Name">&nbsp;&nbsp;&nbsp;
          <button class="btn btn-success search" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Filters - Courses and Allergens -->

<section class="container my-5">
  <div class="row">
    <div class="col-sm-6 col-xs-12 mx-auto">
      <div class="card">
        <div class="card-heading bg-dark text-white">
          <h4 class="text-center p-3">Filters</h4>
        </div>
        <div class="card-body">
          <h3 class="text-center">Courses</h3>
          <form method="POST" action="{{ url_for('filtercourses') }}" class="search-form">
            <div class="input-field col-sm-12 col-xs-12  mx-auto">
              <select name="recipe_course" id="recipe_course" class="select-box">
                <option value="Main">Main</option>
                <option value="Starter">Starter</option>
                <option value="Desert">Desert</option>
              </select>
              <button class="btn btn-success search" type="submit">Search</button>
            </div>
          </form> <br><br>
          <h3 class="text-center">Allergens</h3>
          <form method="POST" action="{{ url_for('filterallergens') }}" class="search-form">
            <div class="input-field col-sm-12 col-xs-12  mx-auto">
              <select name="allergen" id="allergen" class="select-box">
                <option value="None">None</option>
                <option value="Eggs">Eggs</option>
                <option value="Nuts">Nuts</option>
              </select>
              <button class="btn btn-success search" type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Back to The Top Button -->

<button id="topBtn"><i class="fas fa-arrow-up"></i></button>

<!-- Recipes -->

<div class="album py-5 bg-light">
  <div class="container">
    <h2 class="text-center pb-2"><strong>RECIPES</strong></h2>
    <div class="row">
      {% for task in tasks %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm text-center">
          <img class="prd card-img-top img-fluid" src="{{ task.recipe_image }}">
          <div class="card-body">
            <h3 class="card-text">{{ task.recipe_name}}</h3>
            <p class="card-text">Course: {{ task.recipe_course}}</p>
            <p class="card-text">Allergen: {{ task.allergen}}</p>
            <hr>
            <a class="link text-center" href="{{ url_for('task', task_id=task._id)}}">View Recipe</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- Pagination- templated adapted from Bootstrap -->

<div class="container pag-cont">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 py-5 d-flex">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3 py-3 d-flex pag">
            <ul class="pagination">
              {% for page_number in pages %} {% if page_number == current_page %}
              <li class="page-item active"><a class="page-link" href="#">{{ page_number}}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link"
                  href="{{ url_for('index', current_page=page_number) }}">{{ page_number }}</a></li>
              {% endif %} {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}