<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png')}}"
            alt="logo">
        <h6 class="title text-white d-inline align-middle">Gujarati FODMAP CookBook</h6>
    </a>

    {% if 'username' in session %}<span
        class="username"><strong>User:&nbsp;{{ session['username'].title() }}{% endif %}</strong></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon">
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index')}}"><i class="fas fa-home"></i>&nbsp;Home</a>

                {% if 'username' in session %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout')}}"> <i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('create_task')}}"><i class="fas fa-plus-circle"></i>&nbsp;Add
                    Recipe</a>
            </li>
            {% else %}

            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('register')}}"><i class="fas fa-user-plus"></i>&nbsp;Register</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login')}}"><i class="fas fa-sign-in-alt"></i>&nbsp;Login</a>
            </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about')}}">About</a>
            </li>

        </ul>
    </div>
</nav>