{% extends 'base.html' %}

{% block content %}

<!-- Breadcrumb -->

<section id="bcrumb">
    <div class="container-fluid px-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('index')}}"><i class="fas fa-home"></i>&nbsp;Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Register</li>
            </ol>
        </nav>
    </div>
</section>

<!-- Registration Form -->

<section class="container my-5">
    <div class="row">
        <div class="col-sm-6 col- mx-auto">
            <div class="card">
                <div class="card-heading bg-primary text-white">
                    <h4 class="text-center p-3">Register</h4>
                </div>
                <div class="card-body">
                    <form class="form-signin" method="POST" action="/register">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input class="form-control" name="username" type="username" id="username" required="true">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" name="password" type="password" id="password" required="true">
                        </div>

                        <button class="btn btn-outline-success btn-lg btn-block my-5" type="submit">Sign Up</button>
                        <p class="my-5">Already Registered <a class="login" href="#">Click Here</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}