{% extends 'base.html' %}

{% block content %}

<!-- Search -->

<div class="container text-center">
  <div class="row">
      <div class="col-sm-12 col-xs-12">
          <form action="{{ url_for('findtask') }}" class="search-form">
              <div class="input-field col-sm-12 col-xs-12">
                  <input name="query" type="text" placeholder="Search Recipe Name">
                  <button class="btn btn-success search" type="submit">Find</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- Results -->



<div class="album py-5 bg-light">
    <div class="container">
      <h2 class="text-center pb-2"><strong>RESULTS</strong></h2>
      <div class="row">
        {% for result in results %} 
         <div class="col-md-4">         
          <div class="card mb-4 shadow-sm text-center">             
            <img class="prd card-img-top img-fluid" src="{{ result.recipe_image }}"></a>
            <div class="card-body">
              <h3 class="card-text">{{ result.recipe_name}}</h3>
              <p class="card-text">Course: {{ result.recipe_course}}</p>
              <p class="card-text">Allergen: {{ result.allergen}}</p>          
              <hr>
              {% for task in task %}
              <a class="text-center" href="{{ url_for('task', task_id=task._id)}}">View Recipe</a>
              {% endfor %}
             </div>
          </div>
        </div>
        {% endfor %}
       </div>
    </div>
  </div>



{% endblock %}