{% extends 'base.html' %}

{% block content %}

<!-- Search -->

<div class="container text-center">
  <div class="row">
      <div class="col-sm-12 col-xs-12">
          <form action="{{ url_for('findtask') }}" class="search-form">
              <div class="input-field col-sm-12 col-xs-12">
                  <input name="query" id="q" type="text" placeholder="Search Recipe Name">
                  <button class="btn btn-success search" type="submit">Find</button>
              </div>
          </form>
      </div>
  </div>
</div>

{% endblock %}