{% extends 'base.html' %}

{% block content %}

<!-- Search -->

<div class="container text-center mb-4">
  <h2 class="text-center my-3">SEARCH</h2>
  <div class="row">   
      <div class="col-sm-12 col-">        
          <form action="{{ url_for('findtask') }}" class="search-form">
              <div class="input-field col-sm-12 col-xs-12 d-flex">
                  <input name="query" type="text" class="text-center" placeholder="Search Recipe Name">&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-success search" type="submit">Search</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- Back to The Top Button -->

<button id="topBtn"><i class="fas fa-arrow-up"></i></button>


<!-- Results -->


<div class="album py-5 bg-light">
    <div class="container filter-cont">
      <h2 class="text-center pb-2"><strong>RESULTS</strong></h2>
      <div class="row">
        {% for result in results %} 
         <div class="col-md-4">         
          <div class="card mb-4 shadow-sm text-center">             
            <img class="rec card-img-top img-fluid" src="{{ result.recipe_image }}">
            <div class="card-body">
              <h3 class="card-text">{{ result.recipe_name}}</h3>
              <p class="card-text">Course: {{ result.recipe_course}}</p>
              <p class="card-text">Allergen: {{ result.allergen}}</p>          
              <hr>            
              <a class="text-center" href=" {{ url_for('task', task_id=result._id) }}">View Recipe</a>            
             </div>
          </div>
        </div>
        {% endfor %}
       </div>
    </div>
  </div>

{% endblock %}